{% from "_menu_macros.html" import render_admin_menu with context %}
{% extends "layout.html" %}
{% block head_extra %}
    
    <!-- Dashboard Styles -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
{% endblock %}
{% block title %}{% block dashtitle %}{% endblock %} - Admin{% endblock %}
{% block container %}

    <div class="container container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
          {{ render_admin_menu() }}
        </div>
        <div class="col-sm-9 col-md-10 main">
          <!--toggle sidebar button-->
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          
          <h1 class="page-header">{{ self.dashtitle() }}</h1>
          
          {% block settingspane %}{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
      <script>
        $(document).ready(function() {
            $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
            });
        });
      </script>
{% endblock %}
