{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
        <h1>Browse the Testbank</h1>
        <ol class="breadcrumb">
          {% if split_path|length == 0 %}
            <li class="breadcrumb-item active">Home</li>
          {% else %}
            <li class="breadcrumb-item"><a href="#">Home</a></li>
          {% endif %}
          {% for sub_path in split_path %}
            {% if loop.last %}
              <li class="breadcrumb-item active">{{ sub_path }}</li>
            {% else %}
              <li class="breadcrumb-item"><a href="{{ sub_path }}">{{ sub_path }}</a></li>
            {% endif %}
          {% endfor %}
        </ol>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Modified Date</th>
                  <th>File Size</th>
                </tr>
              </thead>
              <tbody>
                {% if path != "" %}
                <tr class="rodd">
                  <td></td>
                  <td><a href="{{ dirname(request.path) }}">Up One Level</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endif %}
                {% for folder in folders %}
                <tr class="{{ loop.cycle('rodd', 'reven') }}">
                  <td>{{ folder[1].id }}</td>
                  <td><a href="{{ request.path }}/{{ folder[1].title }}">{{ folder[1].title }}</a></td>
                  <td>Folder</td>
                  <td>{{ folder[1].modifiedDate }}</td>
                  <td></td>
                </tr>
                {% endfor %}
                
                {% for file in files %}
                <tr class="{{ loop.cycle('rodd', 'reven') }}">
                  <td>{{ file[1].id }}</td>
                  <td><a href="https://drive.google.com/file/d/{{ file[1].id }}/view">{{ file[1].title }}</a></td>
                  <td>File ({{ file[1].mimeType }})</td>
                  <td>{{ file[1].modifiedDate }}</td>
                  <td>{{ file[1].fileSize }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}
