{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
      <div class="ieeeumd">
        <h1>Search for your exam</h1>
        <p class="lead">Enter any term that describes your exam,<br>e.g. the professor, the class, the semester...</p>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" id="search" placeholder="ENEE222, Smith, Fall 2010, ...">
          <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          <!--<button class="btn btn-danger"><span class="glyphicon glyphicon-search"></span> Search</button>-->
        </div>
      </div>
{% endblock %}
